<div class="hero-video">
   <video src="./images/video.mp4" autoplay muted playsinline loop></video>
   <div class="video-content">
      <h1>Your Dream, Our Expertise,<br><strong> Unparalelled Results.</strong></h1>
   </div>
</div>