<div class="sidebar-desktop">
   <div class="sidebar__logo">
      <a href="./index.html"> <img src="./images/header-logo.webp" alt=""></a>
   </div>
   <div class="sidebar__logo__black">
      <a href="./index.html"> <img src="./images/header-logo-black.webp" alt=""></a>
   </div>
   <div class="sidebar__links">
      <ul>
         <li>
            <a href="./index.html">
            Home
            </a>
         </li>
         <li>
            <a href="./about-us.html">
            About Us
            </a>
         </li>
         <li>
            <a href="./services.html">
            Services
            </a>
         </li>
         <li>
            <a href="./services.html" class="active">
            Eventz
            </a>
         </li>
         <li>
            <a href="./contact-us.html">
            Contact Us
            </a>
         </li>
      </ul>
   </div>
   <div class="sidebar__social">
      <h5>
         Follow Us
      </h5>
      <ul>
         <li>
            <a href="https://www.instagram.com/istanbuleventz/">
               <svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17" fill="none">
                  <path
                     d="M13.0251 0.285156H4.68069C2.37541 0.285156 0.5 2.16112 0.5 4.46708V12.1032C0.5 14.4092 2.37541 16.2852 4.68069 16.2852H13.0251C15.3304 16.2852 17.2058 14.4092 17.2058 12.1032V4.46708C17.2058 2.16112 15.3304 0.285156 13.0251 0.285156ZM1.97482 4.46708C1.97482 2.97482 3.18887 1.76041 4.68069 1.76041H13.0251C14.5169 1.76041 15.731 2.97482 15.731 4.46708V12.1032C15.731 13.5955 14.5169 14.8099 13.0251 14.8099H4.68069C3.18887 14.8099 1.97482 13.5955 1.97482 12.1032V4.46708Z"
                     fill="white" />
                  <path
                     d="M8.85262 12.1743C10.9964 12.1743 12.7414 10.4297 12.7414 8.28443C12.7414 6.13912 10.9973 4.39453 8.85262 4.39453C6.70795 4.39453 4.96387 6.13912 4.96387 8.28443C4.96387 10.4297 6.70795 12.1743 8.85262 12.1743ZM8.85262 5.87073C10.1838 5.87073 11.2666 6.95377 11.2666 8.28537C11.2666 9.61698 10.1838 10.7 8.85262 10.7C7.52142 10.7 6.43869 9.61698 6.43869 8.28537C6.43869 6.95377 7.52142 5.87073 8.85262 5.87073Z"
                     fill="white" />
                  <path
                     d="M13.1015 5.02292C13.6787 5.02292 14.1493 4.55322 14.1493 3.97484C14.1493 3.39646 13.6797 2.92676 13.1015 2.92676C12.5233 2.92676 12.0537 3.39646 12.0537 3.97484C12.0537 4.55322 12.5233 5.02292 13.1015 5.02292Z"
                     fill="white" />
               </svg>
            </a>
         </li>
         <li>
            <a href="https://www.linkedin.com/company/istanbul-eventz/">
               <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                  <path
                     d="M1.06865 3.45161C0.688869 3.09899 0.5 2.66253 0.5 2.1432C0.5 1.62388 0.689879 1.16821 1.06865 0.814582C1.44843 0.461968 1.9373 0.285156 2.53627 0.285156C3.13523 0.285156 3.60492 0.461968 3.98369 0.814582C4.36347 1.1672 4.55234 1.61075 4.55234 2.1432C4.55234 2.67566 4.36246 3.09899 3.98369 3.45161C3.60391 3.80422 3.1221 3.98103 2.53627 3.98103C1.95044 3.98103 1.44843 3.80422 1.06865 3.45161ZM4.23317 5.47434V16.2852H0.818159V5.47434H4.23317Z"
                     fill="white" />
                  <path
                     d="M15.6012 6.54251C16.3456 7.35079 16.7173 8.46017 16.7173 9.87265V16.0944H13.4741V10.3111C13.4741 9.59884 13.2892 9.04516 12.9205 8.65112C12.5519 8.25708 12.0549 8.05905 11.4327 8.05905C10.8105 8.05905 10.3136 8.25607 9.94489 8.65112C9.57622 9.04516 9.39138 9.59884 9.39138 10.3111V16.0944H6.12891V5.44425H9.39138V6.85672C9.72167 6.3859 10.1671 6.0141 10.7267 5.74029C11.2863 5.46648 11.9155 5.33008 12.6155 5.33008C13.8619 5.33008 14.8578 5.73422 15.6012 6.54149V6.54251Z"
                     fill="white" />
               </svg>
            </a>
         </li>
         <div class="divider"></div>
         <li>
            <a href="https://api.whatsapp.com/send?phone=905327908360">
               <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                  <path
                     d="M11.22 11.9724C7.97818 11.9724 5.34073 9.33327 5.33984 6.09054C5.34073 5.26853 6.00986 4.6001 6.82984 4.6001C6.91415 4.6001 6.99756 4.6072 7.07743 4.6214C7.25314 4.6507 7.41998 4.71017 7.57351 4.79983C7.5957 4.81314 7.61078 4.83445 7.61433 4.85931L7.95688 7.01906C7.96131 7.04391 7.95333 7.06966 7.93647 7.0883C7.74744 7.2978 7.50606 7.4487 7.23717 7.52415L7.10761 7.56055L7.15641 7.68572C7.59835 8.81131 8.49821 9.71054 9.62436 10.1544L9.74949 10.2041L9.78587 10.0745C9.8613 9.80553 10.0122 9.56407 10.2216 9.375C10.2367 9.36079 10.2571 9.35369 10.2775 9.35369C10.2819 9.35369 10.2864 9.35369 10.2917 9.35457L12.4508 9.69723C12.4766 9.70167 12.4979 9.71587 12.5112 9.73806C12.5999 9.89163 12.6594 10.0594 12.6895 10.2352C12.7037 10.3133 12.71 10.3958 12.71 10.4819C12.71 11.3031 12.0417 11.9715 11.22 11.9724Z"
                     fill="white" />
                  <path
                     d="M16.9689 7.55535C16.7941 5.57935 15.8889 3.74627 14.4202 2.39431C12.9427 1.03437 11.0258 0.285156 9.02111 0.285156C4.62123 0.285156 1.04134 3.8661 1.04134 8.26728C1.04134 9.7444 1.44866 11.1834 2.21984 12.4368L0.5 16.245L6.00651 15.6582C6.96405 16.0506 7.97749 16.2494 9.02022 16.2494C9.29444 16.2494 9.57576 16.2352 9.85796 16.2059C10.1064 16.1793 10.3576 16.1402 10.6043 16.0905C14.2889 15.3457 16.9787 12.0746 17 8.30989V8.26728C17 8.0276 16.9894 7.78793 16.9681 7.55624L16.9689 7.55535ZM6.21861 13.9867L3.17206 14.3116L4.08168 12.2956L3.89975 12.0515C3.88644 12.0338 3.87313 12.016 3.85804 11.9956C3.06823 10.9046 2.65113 9.61568 2.65113 8.26817C2.65113 4.75468 5.50866 1.89632 9.02111 1.89632C12.3117 1.89632 15.1009 4.46441 15.3698 7.74266C15.384 7.91842 15.392 8.09507 15.392 8.26906C15.392 8.31877 15.3911 8.36759 15.3902 8.41997C15.3228 11.3591 13.2701 13.8553 10.3984 14.4909C10.1792 14.5397 9.95469 14.577 9.73105 14.601C9.49855 14.6276 9.25983 14.6409 9.02289 14.6409C8.17894 14.6409 7.35896 14.4776 6.58423 14.1545C6.49815 14.1198 6.41384 14.0826 6.33486 14.0444L6.2195 13.9885L6.21861 13.9867Z"
                     fill="white" />
               </svg>
            </a>
         </li>
      </ul>
   </div>
</div>
<div class="sidebar-top">
   <div class="top">
      <div class="logo">
         <a href="./index.html">
         <img src="./images/header-logo-black.webp" alt="">
         </a>
      </div>
      <button class="open">
         <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <line y1="3" x2="25" y2="3" stroke="#E78531" stroke-width="2" />
            <line y1="11" x2="25" y2="11" stroke="#E78531" stroke-width="2" />
            <line y1="19" x2="25" y2="19" stroke="#E78531" stroke-width="2" />
         </svg>
      </button>
   </div>
</div>
<div class="sidebar-mobile">
   <div class="top">
      <div class="logo">
         <a href="./index.html">
         <img src="./images/header-logo-black.webp" alt="">
         </a>
      </div>
      <button class="close">
         <svg xmlns="http://www.w3.org/2000/svg" width="37" height="37" viewBox="0 0 37 37" fill="none">
            <path d="M13.1309 23.953L24.7909 12.293" stroke="#E78531" stroke-width="2" stroke-linecap="round"
               stroke-linejoin="round" />
            <path d="M24.7909 23.953L13.1309 12.293" stroke="#E78531" stroke-width="2" stroke-linecap="round"
               stroke-linejoin="round" />
         </svg>
      </button>
   </div>
   <div class="bottom">
      <div class="links">
         <ul>
            <li>
               <a href="./index.html">
                  <span>
                  Home
                  </span>
                  <div class="icon">
                     <svg width="20" height="21" viewBox="0 0 20 21" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                           d="M7.4585 3.68306L12.8918 9.11639C13.5335 9.75806 13.5335 10.8081 12.8918 11.4497L7.4585 16.8831"
                           stroke="#333333" stroke-width="1.66667" stroke-miterlimit="10"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                  </div>
               </a>
            </li>
            <li>
               <a href="./about-us.html">
                  <span>
                  About Us
                  </span>
                  <div class="icon">
                     <svg width="20" height="21" viewBox="0 0 20 21" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                           d="M7.4585 3.68306L12.8918 9.11639C13.5335 9.75806 13.5335 10.8081 12.8918 11.4497L7.4585 16.8831"
                           stroke="#333333" stroke-width="1.66667" stroke-miterlimit="10"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                  </div>
               </a>
            </li>
            <li>
               <a href="./services.html">
                  <span>
                  Services
                  </span>
                  <div class="icon">
                     <svg width="20" height="21" viewBox="0 0 20 21" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                           d="M7.4585 3.68306L12.8918 9.11639C13.5335 9.75806 13.5335 10.8081 12.8918 11.4497L7.4585 16.8831"
                           stroke="#333333" stroke-width="1.66667" stroke-miterlimit="10"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                  </div>
               </a>
            </li>
            <li>
               <a href="./events.html">
                  <span>
                  Events
                  </span>
                  <div class="icon">
                     <svg width="20" height="21" viewBox="0 0 20 21" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                           d="M7.4585 3.68306L12.8918 9.11639C13.5335 9.75806 13.5335 10.8081 12.8918 11.4497L7.4585 16.8831"
                           stroke="#333333" stroke-width="1.66667" stroke-miterlimit="10"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                  </div>
               </a>
            </li>
            <li>
               <a href="./contact-us.html">
                  <span>
                  Contact Us
                  </span>
                  <div class="icon">
                     <svg width="20" height="21" viewBox="0 0 20 21" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                           d="M7.4585 3.68306L12.8918 9.11639C13.5335 9.75806 13.5335 10.8081 12.8918 11.4497L7.4585 16.8831"
                           stroke="#333333" stroke-width="1.66667" stroke-miterlimit="10"
                           stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                  </div>
               </a>
            </li>
         </ul>
      </div>
      <div class="social">
         <ul>
            <li>
               <a href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17"
                     fill="none">
                     <path
                        d="M13.0251 0.285156H4.68069C2.37541 0.285156 0.5 2.16112 0.5 4.46708V12.1032C0.5 14.4092 2.37541 16.2852 4.68069 16.2852H13.0251C15.3304 16.2852 17.2058 14.4092 17.2058 12.1032V4.46708C17.2058 2.16112 15.3304 0.285156 13.0251 0.285156ZM1.97482 4.46708C1.97482 2.97482 3.18887 1.76041 4.68069 1.76041H13.0251C14.5169 1.76041 15.731 2.97482 15.731 4.46708V12.1032C15.731 13.5955 14.5169 14.8099 13.0251 14.8099H4.68069C3.18887 14.8099 1.97482 13.5955 1.97482 12.1032V4.46708Z"
                        fill="white" />
                     <path
                        d="M8.85262 12.1743C10.9964 12.1743 12.7414 10.4297 12.7414 8.28443C12.7414 6.13912 10.9973 4.39453 8.85262 4.39453C6.70795 4.39453 4.96387 6.13912 4.96387 8.28443C4.96387 10.4297 6.70795 12.1743 8.85262 12.1743ZM8.85262 5.87073C10.1838 5.87073 11.2666 6.95377 11.2666 8.28537C11.2666 9.61698 10.1838 10.7 8.85262 10.7C7.52142 10.7 6.43869 9.61698 6.43869 8.28537C6.43869 6.95377 7.52142 5.87073 8.85262 5.87073Z"
                        fill="white" />
                     <path
                        d="M13.1015 5.02292C13.6787 5.02292 14.1493 4.55322 14.1493 3.97484C14.1493 3.39646 13.6797 2.92676 13.1015 2.92676C12.5233 2.92676 12.0537 3.39646 12.0537 3.97484C12.0537 4.55322 12.5233 5.02292 13.1015 5.02292Z"
                        fill="white" />
                  </svg>
               </a>
            </li>
            <li>
               <a href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17"
                     fill="none">
                     <path
                        d="M1.06865 3.45161C0.688869 3.09899 0.5 2.66253 0.5 2.1432C0.5 1.62388 0.689879 1.16821 1.06865 0.814582C1.44843 0.461968 1.9373 0.285156 2.53627 0.285156C3.13523 0.285156 3.60492 0.461968 3.98369 0.814582C4.36347 1.1672 4.55234 1.61075 4.55234 2.1432C4.55234 2.67566 4.36246 3.09899 3.98369 3.45161C3.60391 3.80422 3.1221 3.98103 2.53627 3.98103C1.95044 3.98103 1.44843 3.80422 1.06865 3.45161ZM4.23317 5.47434V16.2852H0.818159V5.47434H4.23317Z"
                        fill="white" />
                     <path
                        d="M15.6012 6.54251C16.3456 7.35079 16.7173 8.46017 16.7173 9.87265V16.0944H13.4741V10.3111C13.4741 9.59884 13.2892 9.04516 12.9205 8.65112C12.5519 8.25708 12.0549 8.05905 11.4327 8.05905C10.8105 8.05905 10.3136 8.25607 9.94489 8.65112C9.57622 9.04516 9.39138 9.59884 9.39138 10.3111V16.0944H6.12891V5.44425H9.39138V6.85672C9.72167 6.3859 10.1671 6.0141 10.7267 5.74029C11.2863 5.46648 11.9155 5.33008 12.6155 5.33008C13.8619 5.33008 14.8578 5.73422 15.6012 6.54149V6.54251Z"
                        fill="white" />
                  </svg>
               </a>
            </li>
            <li>
               <a href="https://api.whatsapp.com/send?phone=905327908360">
                  <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17"
                     fill="none">
                     <path
                        d="M11.22 11.9724C7.97818 11.9724 5.34073 9.33327 5.33984 6.09054C5.34073 5.26853 6.00986 4.6001 6.82984 4.6001C6.91415 4.6001 6.99756 4.6072 7.07743 4.6214C7.25314 4.6507 7.41998 4.71017 7.57351 4.79983C7.5957 4.81314 7.61078 4.83445 7.61433 4.85931L7.95688 7.01906C7.96131 7.04391 7.95333 7.06966 7.93647 7.0883C7.74744 7.2978 7.50606 7.4487 7.23717 7.52415L7.10761 7.56055L7.15641 7.68572C7.59835 8.81131 8.49821 9.71054 9.62436 10.1544L9.74949 10.2041L9.78587 10.0745C9.8613 9.80553 10.0122 9.56407 10.2216 9.375C10.2367 9.36079 10.2571 9.35369 10.2775 9.35369C10.2819 9.35369 10.2864 9.35369 10.2917 9.35457L12.4508 9.69723C12.4766 9.70167 12.4979 9.71587 12.5112 9.73806C12.5999 9.89163 12.6594 10.0594 12.6895 10.2352C12.7037 10.3133 12.71 10.3958 12.71 10.4819C12.71 11.3031 12.0417 11.9715 11.22 11.9724Z"
                        fill="white" />
                     <path
                        d="M16.9689 7.55535C16.7941 5.57935 15.8889 3.74627 14.4202 2.39431C12.9427 1.03437 11.0258 0.285156 9.02111 0.285156C4.62123 0.285156 1.04134 3.8661 1.04134 8.26728C1.04134 9.7444 1.44866 11.1834 2.21984 12.4368L0.5 16.245L6.00651 15.6582C6.96405 16.0506 7.97749 16.2494 9.02022 16.2494C9.29444 16.2494 9.57576 16.2352 9.85796 16.2059C10.1064 16.1793 10.3576 16.1402 10.6043 16.0905C14.2889 15.3457 16.9787 12.0746 17 8.30989V8.26728C17 8.0276 16.9894 7.78793 16.9681 7.55624L16.9689 7.55535ZM6.21861 13.9867L3.17206 14.3116L4.08168 12.2956L3.89975 12.0515C3.88644 12.0338 3.87313 12.016 3.85804 11.9956C3.06823 10.9046 2.65113 9.61568 2.65113 8.26817C2.65113 4.75468 5.50866 1.89632 9.02111 1.89632C12.3117 1.89632 15.1009 4.46441 15.3698 7.74266C15.384 7.91842 15.392 8.09507 15.392 8.26906C15.392 8.31877 15.3911 8.36759 15.3902 8.41997C15.3228 11.3591 13.2701 13.8553 10.3984 14.4909C10.1792 14.5397 9.95469 14.577 9.73105 14.601C9.49855 14.6276 9.25983 14.6409 9.02289 14.6409C8.17894 14.6409 7.35896 14.4776 6.58423 14.1545C6.49815 14.1198 6.41384 14.0826 6.33486 14.0444L6.2195 13.9885L6.21861 13.9867Z"
                        fill="white" />
                  </svg>
               </a>
            </li>
         </ul>
      </div>
   </div>
</div>