<?xml version="1.0" encoding="utf-8"?>
<Media Key="de6c36c1-ded0-4fcc-ae47-e395e0946765" Alias="about-us-image.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/aboutUsImagepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-17T17:01:37</CreateDate>
    <NodeName Default="about-us-image.png" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/j14cu0fz/about-us-image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>