<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa4e20ff-7c45-4c44-9629-796b5ae8fd86" Alias="big-image-home.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/bigImageHomepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-17T17:01:36</CreateDate>
    <NodeName Default="big-image-home.png" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/odvaqhbm/big-image-home.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>