<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ea9a3f3-3d28-412a-b8ad-9744a4863827" Alias="brand-item-4.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/brandItem4png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-17T17:01:35</CreateDate>
    <NodeName Default="brand-item-4.png" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/prup5kcb/brand-item-4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>