<?xml version="1.0" encoding="utf-8"?>
<Media Key="0be83578-fc0b-45c2-a49a-e511449dd151" Alias="brand-item-2.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/brandItem2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-17T17:01:36</CreateDate>
    <NodeName Default="brand-item-2.png" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/455l3plc/brand-item-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>