<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a6962e2-ddea-4a11-b2c1-1bc765695cf0" Alias="event-3.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/event3png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-17T17:01:35</CreateDate>
    <NodeName Default="event-3.png" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/nwuc5led/event-3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>