<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f74cd70-2eea-48c3-81ad-c3ece56c41c8" Alias="gallery-2.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/gallery2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-17T17:01:36</CreateDate>
    <NodeName Default="gallery-2.png" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/52ddekmd/gallery-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>