<?xml version="1.0" encoding="utf-8"?>
<Media Key="96813773-3308-4211-a1a0-6053254abf82" Alias="gallery-1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/gallery1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-17T17:01:35</CreateDate>
    <NodeName Default="gallery-1.png" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5t4noidb/gallery-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>