<?xml version="1.0" encoding="utf-8"?>
<Media Key="13d7d077-1729-4eae-a2c5-9349b6690c70" Alias="header-logo-black.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/headerLogoBlackpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-17T17:01:34</CreateDate>
    <NodeName Default="header-logo-black.png" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5anjdjka/header-logo-black.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>