<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed74a923-e5e6-446d-a3ba-6226228822bf" Alias="header-logo-black.webp" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/headerLogoBlackwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-17T17:01:34</CreateDate>
    <NodeName Default="header-logo-black.webp" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vrrdew2p/header-logo-black.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>