<?xml version="1.0" encoding="utf-8"?>
<Media Key="82955aae-7865-47c5-9da9-4379b9290bcb" Alias="last-event-2.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/lastEvent2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-17T17:01:33</CreateDate>
    <NodeName Default="last-event-2.png" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/egingnam/last-event-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>