<?xml version="1.0" encoding="utf-8"?>
<Media Key="171314cb-cd0c-4500-9683-c2ef5252b4e7" Alias="last-event-4.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/lastEvent4png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-17T17:01:34</CreateDate>
    <NodeName Default="last-event-4.png" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/itpflilf/last-event-4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>