<?xml version="1.0" encoding="utf-8"?>
<Media Key="d5c50597-02e5-423e-b899-b6647221c03f" Alias="last-event-5.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/lastEvent5png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-17T17:01:34</CreateDate>
    <NodeName Default="last-event-5.png" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ddhjgy2m/last-event-5.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>