<?xml version="1.0" encoding="utf-8"?>
<Media Key="fc110b2b-4a87-40c3-bc43-9ade32c5ce66" Alias="last-event-6.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/lastEvent6png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-17T17:01:34</CreateDate>
    <NodeName Default="last-event-6.png" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/utafosxo/last-event-6.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>