<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b4ba238-0851-4fb9-ab5d-010b92c8ee10" Alias="masonry-2.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/masonry2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-17T17:01:33</CreateDate>
    <NodeName Default="masonry-2.png" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/w3ua1pjy/masonry-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>