<?xml version="1.0" encoding="utf-8"?>
<Media Key="5b0d48d4-a550-47b3-af69-2a69264ef139" Alias="masonry-6.png (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/masonry6png1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-21T03:26:28</CreateDate>
    <NodeName Default="masonry-6.png (1)" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lobex1jz/masonry-6.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>