<?xml version="1.0" encoding="utf-8"?>
<Media Key="5fdc1f04-20b8-4d5c-a0ff-5eb9fcf50204" Alias="masonry-6.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/masonry6png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-17T17:01:32</CreateDate>
    <NodeName Default="masonry-6.png" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rpkjv0or/masonry-6.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>