<?xml version="1.0" encoding="utf-8"?>
<Media Key="a6482e5c-ecd8-4b6c-ada9-3e27ade5fc52" Alias="masonry-3.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/masonry3png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-17T17:01:33</CreateDate>
    <NodeName Default="masonry-3.png" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0psa2efr/masonry-3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>