<?xml version="1.0" encoding="utf-8"?>
<Media Key="59311361-d531-4533-938b-c7f3ec81e251" Alias="quote-image.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/quoteImagepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-17T17:01:32</CreateDate>
    <NodeName Default="quote-image.png" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/31mhp10y/quote-image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>