<?xml version="1.0" encoding="utf-8"?>
<Media Key="10f99c2b-7756-475e-ad06-efdf8fcac90d" Alias="service-detail-image.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/serviceDetailImagepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-17T17:01:32</CreateDate>
    <NodeName Default="service-detail-image.png" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/urll5jr5/service-detail-image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>