<?xml version="1.0" encoding="utf-8"?>
<Media Key="08c23c8b-e374-4223-b3bd-e822cb2496a5" Alias="service-item-3.png (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/serviceItem3png1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-17T17:01:32</CreateDate>
    <NodeName Default="service-item-3.png (1)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/at1ijpq3/service-item-3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>