<?xml version="1.0" encoding="utf-8"?>
<Media Key="655e12e7-2a52-40eb-a1b8-22e4679a542e" Alias="service-item-2.png (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/serviceItem2png1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-21T03:26:29</CreateDate>
    <NodeName Default="service-item-2.png (1)" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ndmbruz1/service-item-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>