<?xml version="1.0" encoding="utf-8"?>
<Media Key="afc56e31-6b1e-4f15-a129-f0cf9c9f96cd" Alias="svg-3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-17T18:58:07</CreateDate>
    <NodeName Default="svg-3" />
    <SortOrder>40</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ypjhotif/3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>