<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f82a2b5-9fef-4f3e-8190-ca714be63b20" Alias="svg-6" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg6</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-17T18:58:43</CreateDate>
    <NodeName Default="svg-6" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/i2pdbxpu/6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>