<?xml version="1.0" encoding="utf-8"?>
<Media Key="24108bb5-2f6f-4248-b960-3163207b974a" Alias="svg-4" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg4</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-17T18:58:21</CreateDate>
    <NodeName Default="svg-4" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/i21lfrtu/4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>