<?xml version="1.0" encoding="utf-8"?>
<Media Key="de572515-5571-4a21-bc63-9e52f4049da2" Alias="svg-1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-17T18:57:32</CreateDate>
    <NodeName Default="svg-1" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/24mpkpdk/1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>