<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f5aa6c0-1af3-4109-a1f2-de35d61fd811" Alias="svg-5" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg5</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-17T18:58:32</CreateDate>
    <NodeName Default="svg-5" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ginprxpi/5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>