<?xml version="1.0" encoding="utf-8"?>
<Media Key="eadbc9d3-e766-4b99-9f2d-ad43e085cb9a" Alias="svg-2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/svg2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-17T18:57:55</CreateDate>
    <NodeName Default="svg-2" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ef0hscd3/2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>