<?xml version="1.0" encoding="utf-8"?>
<Media Key="b8c02759-a15b-4524-ac73-346eab28555e" Alias="Vector.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Vectorsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-17T17:01:32</CreateDate>
    <NodeName Default="Vector.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vongewsa/vector.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>