<?xml version="1.0" encoding="utf-8"?>
<Media Key="3087a390-87cf-4449-aed0-2777601b1f74" Alias="video.mp4" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/videomp4</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2024-08-17T17:01:31</CreateDate>
    <NodeName Default="video.mp4" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/a2ef5duq/video.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>