<button class="splide__arrow splide__arrow--next" type="button" aria-label="Next slide" aria-controls="splide01-track">
    <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.939209 9.09109L9.50004 17.7952C11.6413 15.612 15.9196 11.2743 18.0609 9.09109L16.998 7.99264C15.0723 9.95656 12.5063 12.5542 10.2556 14.8461L10.2557 0.67359L8.74422 0.673584L8.74419 14.8461L2.01365 7.99265L0.939209 9.09109Z" fill="#333333" />
    </svg>
</button>