<button class="splide__arrow splide__arrow--prev" type="button" aria-label="Previous slide" aria-controls="splide01-track">
    <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18.0609 9.37765L9.50008 0.673584C7.35887 2.85677 3.08048 7.19441 0.939209 9.37765L2.00215 10.4761C3.92786 8.51219 6.49383 5.91451 8.74449 3.62263L8.74443 17.7952L10.2559 17.7952L10.2559 3.6226L16.9865 10.4761L18.0609 9.37765Z" fill="#333333" />
    </svg>
</button>