<?xml version="1.0" encoding="utf-8"?>
<DataType Key="40295d6e-e9f2-45cb-b4b1-bf59c4e707ac" Alias="Company Value Cards - Block List" Level="1">
  <Info>
    <Name>Company Value Cards - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "03a2585e-650d-426a-9940-5e8b6a2751f8"
    }
  ]
}]]></Config>
</DataType>