<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6d06e603-91c6-43d4-90c5-03083a8cf7c7" Alias="Event Cards - Block List" Level="1">
  <Info>
    <Name>Event Cards - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "6eb682aa-77f8-49e7-bf4e-0456f0d9590a"
    }
  ]
}]]></Config>
</DataType>