<?xml version="1.0" encoding="utf-8"?>
<DataType Key="32bbfc3f-12be-4554-9f2e-425537b91e53" Alias="Experience Cards - Block List" Level="1">
  <Info>
    <Name>Experience Cards - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "49c7a157-36c0-4fea-98ec-fc33ae37b06a"
    }
  ]
}]]></Config>
</DataType>