<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5478608c-432e-47b1-8713-3727dd24d69b" Alias="Office Cards - Block List" Level="1">
  <Info>
    <Name>Office Cards - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "70476a16-fbc0-4ac2-8b9a-b3cd96748672"
    }
  ]
}]]></Config>
</DataType>