<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f7915b4b-8152-4534-ad20-06d4e7d729a5" Alias="Service Items - Block List " Level="1">
  <Info>
    <Name>Service Items - Block List </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "738f3bab-381a-4ff1-9a0e-07fb4ec0c251"
    }
  ],
  "validationLimit": {}
}]]></Config>
</DataType>