<?xml version="1.0" encoding="utf-8"?>
<DataType Key="98bd3c9d-19f9-441e-9407-469cdad8a483" Alias="Testimonials - Block List" Level="1">
  <Info>
    <Name>Testimonials - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a87603e1-7275-4d15-b79f-79f4429c9458"
    }
  ]
}]]></Config>
</DataType>