<?xml version="1.0" encoding="utf-8"?>
<Content Key="633c3eca-94db-49da-85a2-b0288ce02547" Alias="About-Us" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutUsPage</ContentType>
    <CreateDate>2024-08-17T18:39:14</CreateDate>
    <NodeName Default="About-Us" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="656ab4a8-51a5-45a4-bb28-3f618f73b9a8">aboutUsPage</Template>
  </Info>
  <Properties>
    <companyValueCards>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "03a2585e-650d-426a-9940-5e8b6a2751f8",
      "udi": "umb://element/78a638a4e6744190a094f920921d790b",
      "icon": "[{\u0022key\u0022:\u0022b6154343-c26f-4b2e-942a-332409b35066\u0022,\u0022mediaKey\u0022:\u0022de572515-5571-4a21-bc63-9e52f4049da2\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "title": "\u2060Customer-centric approach",
      "description": "Focusing on your needs to create an event that exceeds expectations.\n"
    },
    {
      "contentTypeKey": "03a2585e-650d-426a-9940-5e8b6a2751f8",
      "udi": "umb://element/6fb87a65c60a488491429902456258a3",
      "title": "Attention to detail",
      "description": "Perfecting every element to ensure a seamless and detailed event.\n",
      "icon": "[{\u0022key\u0022:\u002204ff56d4-a785-4390-8c56-f4403056d8e5\u0022,\u0022mediaKey\u0022:\u0022eadbc9d3-e766-4b99-9f2d-ad43e085cb9a\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "03a2585e-650d-426a-9940-5e8b6a2751f8",
      "udi": "umb://element/49432cd8827c482a972c508ad0455cb8",
      "icon": "[{\u0022key\u0022:\u0022a38bd03f-e280-4cb4-a060-454f72001c2b\u0022,\u0022mediaKey\u0022:\u0022afc56e31-6b1e-4f15-a129-f0cf9c9f96cd\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "title": "Professionalism",
      "description": "Delivering professional and polished events with a touch of elegance.\n"
    },
    {
      "contentTypeKey": "03a2585e-650d-426a-9940-5e8b6a2751f8",
      "udi": "umb://element/7c10d1433c5f402fae08b7ba0389de3f",
      "title": "Experience",
      "description": "Leveraging extensive experience to ensure your event\u0027s success.\n",
      "icon": "[{\u0022key\u0022:\u00222cecc2e1-c77a-47c1-9967-d82d551c789f\u0022,\u0022mediaKey\u0022:\u002224108bb5-2f6f-4248-b960-3163207b974a\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "03a2585e-650d-426a-9940-5e8b6a2751f8",
      "udi": "umb://element/47b0c1df528d4e5dbdcbfdee00ca1cae",
      "title": "Innovation",
      "description": "Pioneering new concepts to deliver cutting-edge events.\n",
      "icon": "[{\u0022key\u0022:\u0022187bfd64-0f29-4d62-91b7-419b30b6eea9\u0022,\u0022mediaKey\u0022:\u00223f5aa6c0-1af3-4109-a1f2-de35d61fd811\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "03a2585e-650d-426a-9940-5e8b6a2751f8",
      "udi": "umb://element/d28770979c0242a684962d53f5be27b7",
      "title": "Reliability",
      "description": "Dependably managing all aspects for a worry-free event experience.",
      "icon": "[{\u0022key\u0022:\u002234c3f447-a4ae-4f19-936a-19b6e5af5992\u0022,\u0022mediaKey\u0022:\u00223f82a2b5-9fef-4f3e-8190-ca714be63b20\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/78a638a4e6744190a094f920921d790b",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/6fb87a65c60a488491429902456258a3",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/49432cd8827c482a972c508ad0455cb8",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/7c10d1433c5f402fae08b7ba0389de3f",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/47b0c1df528d4e5dbdcbfdee00ca1cae",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/d28770979c0242a684962d53f5be27b7",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </companyValueCards>
    <experienceCards>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "49c7a157-36c0-4fea-98ec-fc33ae37b06a",
      "udi": "umb://element/e2f244d16fe84cf987914cd0226e64c7",
      "counter": "20\u002B",
      "description": "Years of experience"
    },
    {
      "contentTypeKey": "49c7a157-36c0-4fea-98ec-fc33ae37b06a",
      "udi": "umb://element/67cb703737214a22a607f2ef797732ad",
      "counter": "1000\u002B",
      "description": "Total events"
    },
    {
      "contentTypeKey": "49c7a157-36c0-4fea-98ec-fc33ae37b06a",
      "udi": "umb://element/70005d8f5dbc4d8bb61799b8e4c8156c",
      "counter": "300.000\u002B",
      "description": "Total customers"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e2f244d16fe84cf987914cd0226e64c7",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/67cb703737214a22a607f2ef797732ad",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/70005d8f5dbc4d8bb61799b8e4c8156c",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </experienceCards>
    <experienceText>
      <Value><![CDATA[With over 20 years of experience in organizing events of all shapes and sizes, IstanbulEventz stands out as a premier wedding planner and event planner dedicated to making your most ambitious visions a reality.
]]></Value>
    </experienceText>
    <founderName>
      <Value><![CDATA[Founder, Fidan Onay]]></Value>
    </founderName>
    <galleryImages>
      <Value><![CDATA[[
  {
    "key": "cc5be140-22df-4c20-9434-e656738b979b",
    "mediaKey": "171314cb-cd0c-4500-9683-c2ef5252b4e7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "7e1d8322-713d-41fc-92f6-8eb6b6c95bfa",
    "mediaKey": "d5c50597-02e5-423e-b899-b6647221c03f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "c64f1ca8-d593-47fe-b19a-998980adc35d",
    "mediaKey": "acef39ab-2227-4530-b323-0aab8584f7f9",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </galleryImages>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "e5b50afd-d904-4a0d-bf6f-9538e88f78f0",
    "mediaKey": "de6c36c1-ded0-4fcc-ae47-e395e0946765",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <missionText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.]]></Value>
    </missionText>
    <pageDescription>
      <Value><![CDATA[IstanbulEventZ is a team of people operating on Turkey and Holland who know their work inside out, capable of making any dream event come to life with. 20+ years of experience from events with all shapes and sizes. With IstanbulEventz you have every assurance that even your most farfetched dream can come to life.]]></Value>
    </pageDescription>
    <pageSubtitle>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor]]></Value>
    </pageSubtitle>
    <pageTitle>
      <Value><![CDATA[About Us]]></Value>
    </pageTitle>
    <quote>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
]]></Value>
    </quote>
    <visionText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.]]></Value>
    </visionText>
  </Properties>
</Content>