<?xml version="1.0" encoding="utf-8"?>
<Content Key="73dd289b-3cea-4ea9-8c19-92cfb1122622" Alias="Contact-Us" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactUs</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUsPage</ContentType>
    <CreateDate>2024-08-17T23:35:36</CreateDate>
    <NodeName Default="Contact-Us" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="625e7014-74c1-4fd8-b899-2ff53e3a6ee2">contactUsPage</Template>
  </Info>
  <Properties>
    <officeCards>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "70476a16-fbc0-4ac2-8b9a-b3cd96748672",
      "udi": "umb://element/c31130559f0243788c9d049fd5f03ae5",
      "officeName": "Turkey Office",
      "officeAddress": "Ferahevler Mah. Tarabya Vadi Konaklari Cam Selvi Sk.No:14 D: 8 Sariyer / IST",
      "phoneNumber": "\u002B90 532 790 8360"
    },
    {
      "contentTypeKey": "70476a16-fbc0-4ac2-8b9a-b3cd96748672",
      "udi": "umb://element/82272ec0cbbb42cdbd4d43551f9178e3",
      "officeName": "Netherlends Office",
      "officeAddress": "Vosmaerlaan 71, 1215ED Hilversum",
      "phoneNumber": "\u002B31 6 546 974 72"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c31130559f0243788c9d049fd5f03ae5",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/82272ec0cbbb42cdbd4d43551f9178e3",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </officeCards>
    <pageDescription>
      <Value><![CDATA[To make that dream event a reality, contact us using this form, and we will create a fantastic event for you!]]></Value>
    </pageDescription>
    <pageSubtitle>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor]]></Value>
    </pageSubtitle>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
  </Properties>
</Content>