<?xml version="1.0" encoding="utf-8"?>
<Content Key="4fe92f6e-be6c-4802-bcb0-3aa67c6f3dd4" Alias="Events" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Events</Path>
    <Trashed>false</Trashed>
    <ContentType>eventsPage</ContentType>
    <CreateDate>2024-08-17T23:15:29</CreateDate>
    <NodeName Default="Events" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="adbd5be9-01ca-4194-80d3-5a444af1555c">eventsPage</Template>
  </Info>
  <Properties>
    <eventCards>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "6eb682aa-77f8-49e7-bf4e-0456f0d9590a",
      "udi": "umb://element/1e90900b8a2d4982913fd0b31db51275",
      "eventTitle": "Wedding",
      "eventDescription": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.",
      "eventImage": "[{\u0022key\u0022:\u0022226a5085-166a-4b9e-9bf0-a21e3f61fd47\u0022,\u0022mediaKey\u0022:\u0022c17c0533-9f5b-4cbd-b6fc-5b1f0c177c90\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "eventLink": "umb://document/61d71c6e11ea4750bd99bcf9e21eaeba"
    },
    {
      "contentTypeKey": "6eb682aa-77f8-49e7-bf4e-0456f0d9590a",
      "udi": "umb://element/6dc2f6a57f51471284815083364968c0",
      "eventTitle": "Birthday",
      "eventDescription": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.",
      "eventImage": "[{\u0022key\u0022:\u002289656f75-f021-439b-a292-5132c98049eb\u0022,\u0022mediaKey\u0022:\u002282955aae-7865-47c5-9da9-4379b9290bcb\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "eventLink": "umb://document/61d71c6e11ea4750bd99bcf9e21eaeba"
    },
    {
      "contentTypeKey": "6eb682aa-77f8-49e7-bf4e-0456f0d9590a",
      "udi": "umb://element/58ef0b3865ae4f09b8fbd646a50522f3",
      "eventTitle": "Corporate event",
      "eventDescription": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.",
      "eventImage": "[{\u0022key\u0022:\u0022db43af5b-7570-4e22-a624-595040dcc471\u0022,\u0022mediaKey\u0022:\u0022acef39ab-2227-4530-b323-0aab8584f7f9\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "eventLink": "umb://document/61d71c6e11ea4750bd99bcf9e21eaeba"
    },
    {
      "contentTypeKey": "6eb682aa-77f8-49e7-bf4e-0456f0d9590a",
      "udi": "umb://element/80fc0790c4d8418f825c850600190d27",
      "eventTitle": "Wedding",
      "eventDescription": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.",
      "eventImage": "[{\u0022key\u0022:\u0022a93c22d1-eff7-4e0f-bdf6-026eb2b5b4b1\u0022,\u0022mediaKey\u0022:\u0022171314cb-cd0c-4500-9683-c2ef5252b4e7\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "eventLink": "umb://document/61d71c6e11ea4750bd99bcf9e21eaeba"
    },
    {
      "contentTypeKey": "6eb682aa-77f8-49e7-bf4e-0456f0d9590a",
      "udi": "umb://element/d8cb551a247a4cfb97a79630854cb04f",
      "eventTitle": "Birthday",
      "eventDescription": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.",
      "eventImage": "[{\u0022key\u0022:\u00225391275d-b63e-44d6-8d6e-b77f8e6072f7\u0022,\u0022mediaKey\u0022:\u0022d5c50597-02e5-423e-b899-b6647221c03f\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "eventLink": "umb://document/61d71c6e11ea4750bd99bcf9e21eaeba"
    },
    {
      "contentTypeKey": "6eb682aa-77f8-49e7-bf4e-0456f0d9590a",
      "udi": "umb://element/ad0a893468cf4c8d88b24d4ff1e773ed",
      "eventTitle": "Corporote Event",
      "eventDescription": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.",
      "eventImage": "[{\u0022key\u0022:\u002208bda5e5-8ed0-42c3-b522-a6dbfad43d25\u0022,\u0022mediaKey\u0022:\u0022fc110b2b-4a87-40c3-bc43-9ade32c5ce66\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/1e90900b8a2d4982913fd0b31db51275",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/6dc2f6a57f51471284815083364968c0",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/58ef0b3865ae4f09b8fbd646a50522f3",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/80fc0790c4d8418f825c850600190d27",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/d8cb551a247a4cfb97a79630854cb04f",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/ad0a893468cf4c8d88b24d4ff1e773ed",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </eventCards>
    <pageDescription>
      <Value><![CDATA[IstanbulEventZ is a team of people operating on Turkey and Holland who know their work inside out, capable of making any dream event come to life with. 20+ years of experience from events with all shapes and sizes. With IstanbulEventz you have every assurance that even your most farfetched dream can come to life.]]></Value>
    </pageDescription>
    <pageSubtitle>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor]]></Value>
    </pageSubtitle>
    <pageTitle>
      <Value><![CDATA[Events]]></Value>
    </pageTitle>
  </Properties>
</Content>