<?xml version="1.0" encoding="utf-8"?>
<Content Key="2f29a7a6-70ee-4ebc-a909-97701d76f592" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-08-18T03:36:47</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1b4da808-fb43-4346-8549-c2ef8ed9deca">homePage</Template>
  </Info>
  <Properties>
    <bigImage>
      <Value><![CDATA[[
  {
    "key": "2e53f02c-6f7c-40d2-a75b-86d19b430176",
    "mediaKey": "aa4e20ff-7c45-4c44-9629-796b5ae8fd86",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bigImage>
    <companyValues>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "03a2585e-650d-426a-9940-5e8b6a2751f8",
      "udi": "umb://element/446bb7799e51434e8f43665ece903ce2",
      "title": "\u2060Customer-centric approach",
      "description": "Focusing on your needs to create an event that exceeds expectations.\n",
      "icon": "[{\u0022key\u0022:\u0022f6586c75-8f50-4cb1-b405-fa4392a660c2\u0022,\u0022mediaKey\u0022:\u0022de572515-5571-4a21-bc63-9e52f4049da2\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "03a2585e-650d-426a-9940-5e8b6a2751f8",
      "udi": "umb://element/e8a77d326fe149df9f91551518f89de3",
      "title": "Attention to detail",
      "description": "Perfecting every element to ensure a seamless and detailed event.\n",
      "icon": "[{\u0022key\u0022:\u0022a813e275-5f11-4dc2-aec2-d495cb3a77e4\u0022,\u0022mediaKey\u0022:\u0022eadbc9d3-e766-4b99-9f2d-ad43e085cb9a\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "03a2585e-650d-426a-9940-5e8b6a2751f8",
      "udi": "umb://element/909086dc80ad4c4ba91c8a834010fdb5",
      "title": "Professionalism",
      "description": "Delivering professional and polished events with a touch of elegance.\n",
      "icon": "[{\u0022key\u0022:\u00228092c840-ce84-47ee-942a-e341f313dbe1\u0022,\u0022mediaKey\u0022:\u0022afc56e31-6b1e-4f15-a129-f0cf9c9f96cd\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/446bb7799e51434e8f43665ece903ce2",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/e8a77d326fe149df9f91551518f89de3",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/909086dc80ad4c4ba91c8a834010fdb5",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </companyValues>
    <contactSubtitle>
      <Value><![CDATA[To make that dream event a reality, contact us using this form, and we will create a fantastic event for you!
]]></Value>
    </contactSubtitle>
    <contactTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </contactTitle>
    <eventCards>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "6eb682aa-77f8-49e7-bf4e-0456f0d9590a",
      "udi": "umb://element/bb3f421e7dbf49cf94c62c6c5d712d01",
      "eventTitle": "Wedding",
      "eventDescription": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.",
      "eventImage": "[{\u0022key\u0022:\u00223b22ab02-4618-47b0-b831-b2d9e12710d5\u0022,\u0022mediaKey\u0022:\u0022c17c0533-9f5b-4cbd-b6fc-5b1f0c177c90\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "eventLink": "umb://document/4fe92f6ebe6c4802bcb03aa67c6f3dd4"
    },
    {
      "contentTypeKey": "6eb682aa-77f8-49e7-bf4e-0456f0d9590a",
      "udi": "umb://element/6cde3035b46c47f7a80ec11ddb4d988d",
      "eventTitle": "Birthday",
      "eventDescription": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.",
      "eventImage": "[{\u0022key\u0022:\u0022b2a12b99-415f-43c0-88e1-56fa1a3ad3d3\u0022,\u0022mediaKey\u0022:\u002282955aae-7865-47c5-9da9-4379b9290bcb\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "eventLink": "umb://document/4fe92f6ebe6c4802bcb03aa67c6f3dd4"
    },
    {
      "contentTypeKey": "6eb682aa-77f8-49e7-bf4e-0456f0d9590a",
      "udi": "umb://element/0b4c895e46a044a9b4f1c787141a5032",
      "eventTitle": "Corporate event",
      "eventDescription": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.",
      "eventImage": "[{\u0022key\u0022:\u002235b1dae1-f682-4069-a2ca-2e59ef8ffe1e\u0022,\u0022mediaKey\u0022:\u0022acef39ab-2227-4530-b323-0aab8584f7f9\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "eventLink": "umb://document/4fe92f6ebe6c4802bcb03aa67c6f3dd4"
    },
    {
      "contentTypeKey": "6eb682aa-77f8-49e7-bf4e-0456f0d9590a",
      "udi": "umb://element/2d55a676c1e0422f831a397456e94986",
      "eventTitle": "Wedding",
      "eventDescription": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.",
      "eventImage": "[{\u0022key\u0022:\u0022f5a045a3-3406-4738-9e22-1338f751f6e2\u0022,\u0022mediaKey\u0022:\u0022171314cb-cd0c-4500-9683-c2ef5252b4e7\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "eventLink": "umb://document/4fe92f6ebe6c4802bcb03aa67c6f3dd4"
    },
    {
      "contentTypeKey": "6eb682aa-77f8-49e7-bf4e-0456f0d9590a",
      "udi": "umb://element/5755378ecadc47b1a02e49f6866dd5c5",
      "eventTitle": "Birthday",
      "eventDescription": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.",
      "eventImage": "[{\u0022key\u0022:\u002256b634b4-0a2a-467e-96cc-0750eddea800\u0022,\u0022mediaKey\u0022:\u0022d5c50597-02e5-423e-b899-b6647221c03f\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "eventLink": "umb://document/4fe92f6ebe6c4802bcb03aa67c6f3dd4"
    },
    {
      "contentTypeKey": "6eb682aa-77f8-49e7-bf4e-0456f0d9590a",
      "udi": "umb://element/b2d7fca8f5744c86bddf935bc3e77857",
      "eventTitle": "Corporate event",
      "eventDescription": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.",
      "eventImage": "[{\u0022key\u0022:\u0022b8862319-d94c-4d94-b4f0-e47de5ca2687\u0022,\u0022mediaKey\u0022:\u0022fc110b2b-4a87-40c3-bc43-9ade32c5ce66\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "eventLink": "umb://document/4fe92f6ebe6c4802bcb03aa67c6f3dd4"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/bb3f421e7dbf49cf94c62c6c5d712d01",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/6cde3035b46c47f7a80ec11ddb4d988d",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/0b4c895e46a044a9b4f1c787141a5032",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/2d55a676c1e0422f831a397456e94986",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/5755378ecadc47b1a02e49f6866dd5c5",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/b2d7fca8f5744c86bddf935bc3e77857",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </eventCards>
    <eventsSubtitle>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.]]></Value>
    </eventsSubtitle>
    <eventsTitle>
      <Value><![CDATA[Last Events]]></Value>
    </eventsTitle>
    <experienceCards>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "49c7a157-36c0-4fea-98ec-fc33ae37b06a",
      "udi": "umb://element/c062d88d2fae4549bcab545c3f822612",
      "counter": "20\u002B",
      "description": "Years of experience"
    },
    {
      "contentTypeKey": "49c7a157-36c0-4fea-98ec-fc33ae37b06a",
      "udi": "umb://element/eee6a762675d4b9284a9ce5e6bbe94a0",
      "counter": "1000\u002B",
      "description": "Total events"
    },
    {
      "contentTypeKey": "49c7a157-36c0-4fea-98ec-fc33ae37b06a",
      "udi": "umb://element/c52ed7cc5c3d4ebb8686efe4c13102d9",
      "counter": "300.000\u002B",
      "description": "Total customers"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c062d88d2fae4549bcab545c3f822612",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/eee6a762675d4b9284a9ce5e6bbe94a0",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/c52ed7cc5c3d4ebb8686efe4c13102d9",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </experienceCards>
    <experienceText>
      <Value><![CDATA[With over 20 years of experience in organizing events of all shapes and sizes, IstanbulEventz stands out as a premier wedding planner and event planner dedicated to making your most ambitious visions a reality.]]></Value>
    </experienceText>
    <heroTitle>
      <Value><![CDATA[Your Dream, Our Expertise,]]></Value>
    </heroTitle>
    <heroTitleBold>
      <Value><![CDATA[Unparalelled Results.]]></Value>
    </heroTitleBold>
    <heroVideo>
      <Value><![CDATA[[
  {
    "key": "eb5ff6d1-799d-4f69-8c26-c73c01590c25",
    "mediaKey": "3087a390-87cf-4449-aed0-2777601b1f74",
    "mediaTypeAlias": "umbracoMediaVideo",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroVideo>
    <offices>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "70476a16-fbc0-4ac2-8b9a-b3cd96748672",
      "udi": "umb://element/f5c6a55adb1443cea1328553879d1ec3",
      "officeName": "Turkey Office",
      "officeAddress": "Ferahevler Mah. Tarabya Vadi Konaklari Cam Selvi Sk.No:14 D: 8 Sariyer / IST",
      "phoneNumber": "\u002B90 532 790 8360"
    },
    {
      "contentTypeKey": "70476a16-fbc0-4ac2-8b9a-b3cd96748672",
      "udi": "umb://element/2ec668bae8fa4f8b90470b64e1a4bf35",
      "officeName": "Netherlends Office",
      "officeAddress": "Vosmaerlaan 71, 1215ED Hilversum",
      "phoneNumber": "\u002B31 6 546 974 72"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f5c6a55adb1443cea1328553879d1ec3",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/2ec668bae8fa4f8b90470b64e1a4bf35",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </offices>
    <pageSubtitle>
      <Value><![CDATA[IstanbulEventz is an international team of event planning professionals who bring a wealth of cultural and industry knowledge, ensuring that your event is successful and reflects the unique aspects of your chosen location.]]></Value>
    </pageSubtitle>
    <pageTitle>
      <Value><![CDATA[İstanbul Eventz]]></Value>
    </pageTitle>
    <partners>
      <Value><![CDATA[[
  {
    "key": "81346a4f-0583-4f78-a6d3-a73b2e369edf",
    "mediaKey": "1ea9a3f3-3d28-412a-b8ad-9744a4863827",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "b981f71e-547d-4acf-b835-17ea451f05a9",
    "mediaKey": "dbe0123b-affd-42ae-8ac2-851e81cdd8ba",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "54075d92-82a6-40af-8a27-5f5aa195910d",
    "mediaKey": "0be83578-fc0b-45c2-a49a-e511449dd151",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "744f8357-3ae3-4b47-aff1-1c3e57f13f61",
    "mediaKey": "2851efed-d183-492d-b26d-cce87b433b06",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partners>
    <quoteAuthor>
      <Value><![CDATA[Founder, Fidan Onay]]></Value>
    </quoteAuthor>
    <quoteImage>
      <Value><![CDATA[[
  {
    "key": "b9e8986f-e87e-43d8-8532-d762de1f2e0b",
    "mediaKey": "59311361-d531-4533-938b-c7f3ec81e251",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </quoteImage>
    <quoteText>
      <Value><![CDATA[“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.”
]]></Value>
    </quoteText>
    <serviceItems>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "738f3bab-381a-4ff1-9a0e-07fb4ec0c251",
      "udi": "umb://element/61a9b72a38764bb799ef4d5f5ad754e2",
      "serviceImage": "[{\u0022key\u0022:\u0022fbac8fa3-f55a-434c-be54-da6f720d1166\u0022,\u0022mediaKey\u0022:\u0022da48bb8d-57f6-41b9-aec1-c63cb2405ce5\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "serviceTitle": "Wedding",
      "serviceDescription": "Step into the fairy tale you\u0027ve always dreamed of and leave the rest to us. You dream it, and we\u0027ll make you the star of your own magical story."
    },
    {
      "contentTypeKey": "738f3bab-381a-4ff1-9a0e-07fb4ec0c251",
      "udi": "umb://element/31a6cc501b0947158d4563e06a26ae7e",
      "serviceImage": "[{\u0022key\u0022:\u0022bac288cd-7546-4890-b0a9-05270f7e134c\u0022,\u0022mediaKey\u0022:\u002239441e13-e042-4a2b-afe9-c973411c81df\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "serviceTitle": "Private Events",
      "serviceDescription": "Whether it\u0027s a birthday, anniversary, or any special occasion, let us bring your vision to life. We create every detail of your event with care, making sure your dreams take center stage."
    },
    {
      "contentTypeKey": "738f3bab-381a-4ff1-9a0e-07fb4ec0c251",
      "udi": "umb://element/c2f5a3f16b514deda47a616f356c3c87",
      "serviceImage": "[{\u0022key\u0022:\u002211393372-7aed-4ea9-92a6-056b49bd8687\u0022,\u0022mediaKey\u0022:\u00227ae71987-300f-4555-a2ba-8b3fcf66cf5d\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "serviceTitle": "Corporate Events",
      "serviceDescription": "We tailor your corporate events to perfectly align with your brand identity and goals, ensuring a seamless and impactful\u00A0experience."
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/61a9b72a38764bb799ef4d5f5ad754e2",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/31a6cc501b0947158d4563e06a26ae7e",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/c2f5a3f16b514deda47a616f356c3c87",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceItems>
    <servicesSubtitle>
      <Value><![CDATA[At IstanbulEventz, we pride ourselves on delivering the highest quality and most personalized services for every event. Our talented team is dedicated to customizing each detail to meet your unique needs and visions, ensuring an experience that is nothing short of exceptional.]]></Value>
    </servicesSubtitle>
    <servicesTitle>
      <Value><![CDATA[Services]]></Value>
    </servicesTitle>
    <testimonials>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a87603e1-7275-4d15-b79f-79f4429c9458",
      "udi": "umb://element/c49a372530b94e95b1833120e075106c",
      "testimonialText": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.\n",
      "testimonialBy": "John Doe"
    },
    {
      "contentTypeKey": "a87603e1-7275-4d15-b79f-79f4429c9458",
      "udi": "umb://element/9bcd86b43caf45d3bab3b967e0a1c6ce",
      "testimonialText": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.\n",
      "testimonialBy": "John Doe"
    },
    {
      "contentTypeKey": "a87603e1-7275-4d15-b79f-79f4429c9458",
      "udi": "umb://element/7d5336aaab8b40968c8ccfd429be0ab2",
      "testimonialText": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.\n",
      "testimonialBy": "John Doe"
    },
    {
      "contentTypeKey": "a87603e1-7275-4d15-b79f-79f4429c9458",
      "udi": "umb://element/3ec62feb0f294775936cb4e4fbabdb1b",
      "testimonialBy": "John Doe",
      "testimonialText": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.\n"
    },
    {
      "contentTypeKey": "a87603e1-7275-4d15-b79f-79f4429c9458",
      "udi": "umb://element/be996012a4bb4d368f8aef6657cc5d8e",
      "testimonialText": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.\n",
      "testimonialBy": "John Doe"
    },
    {
      "contentTypeKey": "a87603e1-7275-4d15-b79f-79f4429c9458",
      "udi": "umb://element/338d91f0852e45cda6a398c526673fe3",
      "testimonialText": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.\n",
      "testimonialBy": "John Doe"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c49a372530b94e95b1833120e075106c",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/9bcd86b43caf45d3bab3b967e0a1c6ce",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/7d5336aaab8b40968c8ccfd429be0ab2",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/3ec62feb0f294775936cb4e4fbabdb1b",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/be996012a4bb4d368f8aef6657cc5d8e",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/338d91f0852e45cda6a398c526673fe3",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </testimonials>
    <testimonialsSubtitle>
      <Value><![CDATA[Here are some of our esteemed clients who have experienced the magic of IstanbulEventz. Their beaming smiles and unforgettable memories are a testament to our commitment to excellence.]]></Value>
    </testimonialsSubtitle>
    <testimonialsTitle>
      <Value><![CDATA[Testimonial]]></Value>
    </testimonialsTitle>
    <welcomeText>
      <Value><![CDATA[]]></Value>
    </welcomeText>
  </Properties>
</Content>