<?xml version="1.0" encoding="utf-8"?>
<Content Key="61d71c6e-11ea-4750-bd99-bcf9e21eaeba" Alias="Services" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2024-08-17T15:59:38</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d9947ee7-cb31-4896-a916-7816c252b68f">servicesPage</Template>
  </Info>
  <Properties>
    <pageDescription>
      <Value><![CDATA[IstanbulEventZ is a team of people operating on Turkey and Holland who know their work inside out, capable of making any dream event come to life with.]]></Value>
    </pageDescription>
    <pageSubtitle>
      <Value><![CDATA[At IstanbulEventz, we pride ourselves on delivering the highest quality and most personalized services for every event. Our talented team is dedicated to customizing each detail to meet your unique needs and visions, ensuring an experience that is nothing short of exceptional.]]></Value>
    </pageSubtitle>
    <pageTitle>
      <Value><![CDATA[Services]]></Value>
    </pageTitle>
    <serviceItems>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "738f3bab-381a-4ff1-9a0e-07fb4ec0c251",
      "udi": "umb://element/d96f10593b9846ada8807de77a30a311",
      "serviceImage": "[{\u0022key\u0022:\u00224251e258-ddd4-4824-a283-27e654a460ce\u0022,\u0022mediaKey\u0022:\u0022da48bb8d-57f6-41b9-aec1-c63cb2405ce5\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "serviceTitle": "Wedding",
      "serviceDescription": "IstanbulEventz is with you on your special day! From venue selection to catering, and all the way until the walk down the aisle, we have you covered. We have established professional collaborations with top vendors and service providers in the industry, ensuring that you have a wide range of options and the highest quality services for your event. You can sit back and enjoy your special day, knowing that every detail is taken care of by IstanbulEventz.",
      "callToActionText": "Call To Action",
      "callToActionLink": "umb://document/61d71c6e11ea4750bd99bcf9e21eaeba"
    },
    {
      "contentTypeKey": "738f3bab-381a-4ff1-9a0e-07fb4ec0c251",
      "udi": "umb://element/17449130732547bdb95e28558d09ea8b",
      "serviceImage": "[{\u0022key\u0022:\u002260e32fea-8070-4ed0-b003-1394fe573ff2\u0022,\u0022mediaKey\u0022:\u002239441e13-e042-4a2b-afe9-c973411c81df\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "serviceTitle": "Birthday",
      "serviceDescription": "IstanbulEventz will give you the best birthday party of your life in the flavor you want it to be! Whether you are planning a marquee party, a bespoke nightclub for a 21st Birthday, a mini festival, or a decadent soiree for a 50th. Look no further than IstanbulEventz.",
      "callToActionText": "Call To Action",
      "callToActionLink": "umb://document/61d71c6e11ea4750bd99bcf9e21eaeba"
    },
    {
      "contentTypeKey": "738f3bab-381a-4ff1-9a0e-07fb4ec0c251",
      "udi": "umb://element/a169de9142834df1aa19aff6700afe30",
      "serviceImage": "[{\u0022key\u0022:\u0022c761edcd-09f2-4ff1-bd6b-3faa197f4692\u0022,\u0022mediaKey\u0022:\u00227ae71987-300f-4555-a2ba-8b3fcf66cf5d\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "serviceTitle": "Corporote",
      "serviceDescription": "With IstanbulEventz, you can leave behind gray, dull, and boring corporate events. IstanbulEventz plans, executes, and manages premium corporate events so that business events become unforgettable.",
      "callToActionText": "Call To Action",
      "callToActionLink": "umb://document/61d71c6e11ea4750bd99bcf9e21eaeba"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d96f10593b9846ada8807de77a30a311",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/17449130732547bdb95e28558d09ea8b",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/a169de9142834df1aa19aff6700afe30",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceItems>
  </Properties>
</Content>